@font-face {
    font-family: roboto;
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}


.headerPara{

    font-family: roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}