/* .loogo
{
    
    

} */
.logoimage
{
    margin-top: 35%;
    /* margin-left: 50%; */
    
    /* font-size: 18px; */
}
.main_head
{
    margin-top: 168px;
    margin-left:16px ;
}

.home_image1 img
{
    margin-left:30px ;
margin-top: 108px;
}





.main .cont3{
    
    margin-left: 120px;
    margin-top: -160px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px -7px rgba(56, 51, 51, 0.11);
    border-radius: 6px;

    border: 1px solid rgb(203, 203, 218);
    width: 430px;
    height: 68px;


}



.min_div1 .min_div
{
    margin-top: 10px;
    margin-left: 12px;
}
 .min_div1 .city_info
{
    
    margin-left: 45px;
    
}
 .min_div1 .btn_min
{
    
    margin-left: 25px;
    /* margin-top:10px; */
}
.imgs_cool .imgs_roow
{
    margin-top: 21%;
    margin-left: -8%;
}
.section2_cont
{
    margin-top: 10%;
}
.card_conatinr
{
    margin-top: 8%;
}



.under_cardx
{
    margin-top: 10%;
}

.card_part2 .card_4_5
{
    margin-left: 2%;
}

.card_part2 .card_6_7
{
    margin-top: 5%;
    margin-left: 2%;
}

.card_part2 .inner_set1,.inner_set3
{
    margin-left: -4%;
}

.card_part2 .inner_set2,.inner_set4
{
    margin-left: 4%;
}

/* .card_part2 .inner_set3
{
    margin-left: -4%
} */
.arow_containr
{
    margin-top: 5%;
}
.arroww{
    margin-left: -4%;
    /* margin-top: 40%; */
}


.test_div
{
    margin-top:8% ;
}


.blue_div_app
{
    margin-top: 6%;
}

.last_div
{
    margin-top: 10%;
}
.last_logo_set
{
    margin-top: -25%;
    margin-left: 10%;
}
.copycat
{
  
width: 245px;
height: 19px;


font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #A2AFBD;
margin-left: auto;
margin-right: 8%;
margin-top: -2%;
}