.details{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* width: 50%; */
    margin-left: 80px;
    /* border: 1px solid black; */
    
}

.scaleIcon{
    cursor: pointer;
    
}

.dateIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color : #3b4255;
    width: 20%;
    font-size: 13px;
    padding-right: 20px;
    
    /* border: 1px solid black; */
}

.dateIcon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
}

.dateIcon:hover{
    background-color: #acacac;
}

.date{
    line-height: 1px;
    color: #3b4255;
}

.dateSubHeading{
    font-size: 12px;
}

.dateHeading{
    font-size: 20px;
    font-weight: 600;
}

.dateFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-top: 19px;
    /* justify-content: space-around; */
    
}