.card001
{
    width: 372px;
height: 382px;
background-color: rgb(202, 175, 101);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card001 img
{
    width: 122.5px;
height: 94px;
/* margin-left: 172px; */
 margin-left: 35%; 
 margin-top: 15%;
}
.card001 .card001p
{
    
width: 146px;
height: 31px;


font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: center;

color: #0F2B4A;

margin-top: 15%;
margin-left: 33%;

}

.card001 .card001p2
{
    
width: 259px;
height: 78px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

color: #576B81;

/* margin-top: 20%; */
margin-left: 17%;

}