.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;
    height: 60px;
    color : white;
    background-color: rgb(51, 51, 255);
    
}

.logoSection {
    display: flex;
    justify-content: space-around;
}
