.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;
    height: 60px;
    color : white;
    background-color: rgb(51, 51, 255);
    
}

.logoSection {
    display: flex;
    justify-content: space-around;
}

.searchBar {
    height: 30px;
    width: 350px;
    padding: 0px 20px;

    border: none;
    background-color: rgb(218, 127, 127);
}
