.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px;
    height: 60px;
    color : white;
    background-color: rgb(51, 51, 255);
    
}

.logoSection {
    display: flex;
    justify-content: space-around;
    width: 7%;
    border: 1px solid black;
}

.searchBar {
    height: 35px;
    width: 360px;
    padding: 0px 20px;

    border: none;
    background-color: #c3ddf6;
    
}

.searchBar:hover{
    background-color: white;
}

.searchBarSection{
    border: 2px solid black;
}

.profileSection{
    display: flex;
    justify-content: space-around;
    width: 15%;
    border: 1px solid black;
}
