*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: poppins regular;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

.topBar{
    height: 40px;
    width: 100%;
    background-color: #262626;
}

.topBarPara01, .topBarPara02, .topBarPara03, .topBarPara04{
    color: white;
    font-family: poppins regular;
    font-size: 15px;
    
    position: relative;
    top: 23%;
}

.topBarPara02{
    position: relative;
    right: 15%;
    color: #ee9617;
}

@media (max-width : 767px){
    .topBar{
        height: 100px;
    }

    .topBarPara01, .topBarPara02, .topBarPara03, .topBarPara04{
        font-size: 12px;
    }

    .topBarPara02{
        position: relative;
        right: 35%;
    }
}


.bg-01{
    background-image:url('./assets/images/imgggg/imgggg/bg1.png');
    /* padding: 530px; */
    background-size: 75%;
    height: 1081px;
    background-repeat: no-repeat;
    
}

