.btn1
{
    background-color: transparent;
    color: blue;
    /* margin-top: 5%; */
    margin-left: 95px;
    /* padding: 10px 10px 15px;  */
    /* margin: 20px; */
    /* margin-left: 10px; */
}
.btn2
{
    
    color: white;
    margin-left:15px ;
    /* margin-top: 5%; */

    
}
.btn{
    margin-top: 16%;
}