.button-body{
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    width: 80px;
    border-radius: 3px;
    border: 1px solid white;
    text-decoration: none;

    display: flex;
    justify-content: center;
    cursor: pointer;
}
