.addTask{
    width: 96%;
    height: 40px;
    /* border-style: none; */
    /* border-radius: 4px; */
    margin-top: 12px;
    padding-left: 10px;
    /* border: 2px solid black; */
}

.textWrapper{
    display: flex;
    justify-content: center;
}

.tableSection{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.table{
    width: 96%;
}