.cityy h4
{
    
    width: 27px;
    height: 17px;
   
    
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #0F2B4A;
    
}
.cityy p
{
    
width: 105px;
height: 17px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #576B81;

}