.mainNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-color: rgb(0, 0, 0);
    
}

.navItem{
    margin: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
