.input{
  width: 50%;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
}

.submit{
  padding: 5px 15px;
  background-color: aquamarine;
  width: 100px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  
}