@font-face {
  font-family: poppins medium;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins regular;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins semi-bold;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppins bold;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

/* Section - 09 */

.footer {
  background-image: url("../assets/images/blackBar.png"),
    url("../assets/images/footerGradient.png");
  height: 185px;
  background-repeat: no-repeat;
  background-size: 100% 18%, 100% 100%;
  background-position: bottom;
}


.footerPara {
  text-align: center;
  color: white;
  font-family: poppins regular;
  font-size: 12px;
  text-align: center;
  /* margin-top: 150px; */

  position: relative;
  top: 160px;
}

/* Media Queries */

@media (max-width: 767px) {
  .footerPara {
    font-size: 9px;
  }

}

@media (max-width: 576px) {
  .footerPara {
    font-size: 9px;
  }
}
